@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron alert-info">
    <h1>Welcome to iGarage</h1>
    <p class="lead">To the world's best garage where you can enjoy free Breakfast <i>till 10:00 AM</i>,Lunch <i>till 1:00 PM</i>. </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discount</h2>
        <p>
           Special discount for vehicles parked for more than 2 days.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Airplane (special offer)</h2>
        <p>If you park your airplane you get a special discounted price of kr. 200 per hour. <i style="font-size:10px">Old price kr.300 per hour.</i></p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Garage Opening</h2>
        <p>We are soon going international. we are opening our new branches at Dubai,<i> Next to Burj Khalifa.</i>, New York,<i>Opp. to statue of liberty.</i> </p>
        @*<p><a class="btn btn-default" href="">Learn more &raquo;</a></p>*@
    </div>
    <div>
        <img src="~/images/Ap.png" height="" />
    </div>
</div>